.single-feedback-container
{
    width: 95%;
    padding: 20px;
    text-align: start;
    box-shadow: 0 0 10px rgba(184, 174, 174, 0.5);
    border-radius: 10px;
    margin-bottom: 25px;
    margin: 15px;

}
.feedback-user
{
    display: flex;
    
}
.feedback-user img
{
    height: 45px;
    border-radius: 50% ;
    
}
.feedback-user-name
{
    
}
.feedback-user-name p{
    margin-bottom: 0;
    font-size: 18px;
}
.feedback-user-email p
{
    margin-bottom: 0;
    font-size: 15px;
}