.step-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .step-item {
    opacity: 0.3;
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }
  
  .step-item.active {
    opacity: 1;
    filter: none;
  }
  