.recipe-description-container
{
    background-image: url('https://img.freepik.com/free-photo/diet-menu-healthy-vegetarian-salad-fresh-vegetables-tomatoes-cucumber-sweet-peppers-porridge-bowl-vegan-food-flat-lay-top-view_2829-19941.jpg?size=626&ext=jpg&ga=GA1.1.544568252.1694433592&semt=sph');
    background-size: cover;  
    background-repeat: no-repeat; 
}
.recipe-description-container-left
{
    
    background-color: rgba(255, 255, 255, 0.5);
}