/* Footer.css */
.footer {
    border: 1px solid green;
    width: 100%;
    /* display: flex; */
    background-color: #d83131;
    color: #000000;
    text-align: center;
    height: 300px;
    
  
    
  
/*    
    position:relative;
    bottom:0;
    width:100%;
    height:200px;   Height of the footer */
    /* background:#6cf; */
  }
/*   
  .footer_container {
    margin: 0 auto;
    text-align: center;

    
  } */
  
  /* You can add more styles as needed */
  